@font-face {
    font-family: Coca-Cola;
    src: url("../fonts/Coca-ColaCareFontKaiTi.TTF");
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    background: #0e1538;
}
.neobutton {
    z-index: 1;
    display: flex;
    position: fixed;
    bottom: -300px;
    box-sizing: border-box;
    width: 100px;
    height: 75px;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: row;
    background: rgba(14, 21, 56, 0);
}
h1 {
    position: absolute;
    top: 50px;
    letter-spacing: 4px;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 85px;
    color: #ffffff;
}
h2 {
    position: absolute;
    top: 175px;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Coca-Cola;
    font-size: 35px;
    color: #ffffff;
}
.neo {
    position: relative;
    padding: 25px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    margin: 40px;
    transition: 1s;
    text-decoration: none;
    overflow: hidden;
    justify-content: space-around;
}
.neo:hover {
    background: var(--clr);
    box-shadow:
        0 0 10px var(--clr),
        0 0 30px var(--clr),
        0 0 60px var(--clr),
        0 0 100px var(--clr);
}
.neo::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 400%;
    background: var(--clr);
    transition: 1s;
    animation: animate 2s linear infinite;
}
.neo:hover::before {
    width: 120%;
}
@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.neo::after {
    content: '';
    position: absolute;
    inset: 4px;
    background: #0e1538;
    transition: 0.5s;
}
.neo:hover::after {
    background: var(--clr);
}
.neo span {
    position: relative;
    z-index: 1;
    font-size: 2em;
    color: #ffffff;
    opacity: 0.5;
    text-transform: uppercase;
    letter-spacing: 4px;
    transition: 0.5s;
}
.neo:hover span {
    opacity: 1;
}
.intro {
    box-sizing: border-box;
    width: 1200px;
    height: fit-content;
    position: relative;
    margin: 250px;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 1.5em;
    letter-spacing: 1px;
    line-height: 1.5em;
    color: #ffffff;
}
picture {
    z-index: -2;
}
.avatar {
    display: flex;
    box-sizing: border-box;
    position: relative;
    top: 250px;
    width: 150px;
    height: 150px;
}
img {
    border-radius: 30px;
}
